# Created by .ignore support plugin (hsz.mobi)
.idea/
Computational Probability and Inference/Exercises/Week1/__pycache__/
Computational Probability and Inference/Exercises/__pycache__/
Computational Probability and Inference/__pycache__/
